<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
  <meta name="description" content="{% if page.summary %}{{ page.summary }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="{{ site.author.name }}">
  <meta name="keywords" content="{% if page.categories %}{{ page.categories | join: ', ' }}, {% endif %}{{ page.tags | join: ', ' }}">

  <link rel="stylesheet" href="/assets/fontawesome/css/fontawesome.min.css">
  <link rel="stylesheet" href="/assets/css/poole.css">
  <link rel="stylesheet" href="/assets/css/syntax.css">
  <link rel="stylesheet" href="/assets/css/lanyon.css">
  <link rel="stylesheet" href="/assets/css/hamburger.css">
  <link rel="stylesheet" href="/assets/css/style.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

  <!-- Icons -->
  <link rel="shortcut icon" href="/assets/favicon/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/favicon/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="/assets/favicon/apple-icon.png">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
</head>
