/* ----------------------------------------------------------------------------- HAMBURGER ICONS COMPONENT ----------------------------------------------------------------------------- */
/** * Toggle Switch Globals * * All switches should take on the class `c-hamburger` as well as their * variant that will give them unique properties. This class is an overview * class that acts as a reset for all versions of the icon. */
.c-hamburger {
    display: block;
    position: absolute;
    overflow: hidden;
    margin: 0;
    padding: 0.25rem 0.75rem;
    width: 50px;
    height: 40px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    top: 0.8rem;
    left: 1rem;
    color: #505050;
    background-color: #fff;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}
@media (min-width: 30.1em) {
    .c-hamburger {
        position: fixed;
   }
}
@media print {
    .c-hamburger {
        display: none;
   }
}
#sidebar-checkbox:checked ~ .c-hamburger {
    -webkit-transform: translateX(14rem);
    -ms-transform: translateX(14rem);
    transform: translateX(14rem);
}
.c-hamburger:focus {
    outline: none;
}
.c-hamburger span {
    display: block;
    position: absolute;
    top: 19px;
    left: 12px;
    right: 12px;
    height: 2px;
    background: #202020;
}
.c-hamburger span::before, .c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #202020;
    content: "";
}
.c-hamburger span::before {
    top: -8px;
}
.c-hamburger span::after {
    bottom: -8px;
}
/** * Style 1 * * Rotating hamburger icon (rot), that simply rotates 90 degrees when activated. * Nothing too fancy, simple transition. */
.c-hamburger--rot {
    background-color: #28aadc;
}
.c-hamburger--rot span {
    transition: transform 0.3s;
}
/* active state, i.e. menu open */
.c-hamburger--rot.is-active {
    background-color: #166888;
}
.c-hamburger--rot.is-active span {
    transform: rotate(90deg);
}
/** * Style 2 * * Hamburger to "x" (htx). Takes on a hamburger shape, bars slide * down to center and transform into an "x". */
.c-hamburger--htx {
    background-color: #fff;
}
.c-hamburger--htx span {
    transition: background 0s 0.3s;
}
.c-hamburger--htx span::before, .c-hamburger--htx span::after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
}
.c-hamburger--htx span::before {
    transition-property: top, transform;
}
.c-hamburger--htx span::after {
    transition-property: bottom, transform;
}
/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
    background-color: #fff;
}
.c-hamburger--htx.is-active span {
    background: none;
}
.c-hamburger--htx.is-active span::before {
    top: 0;
    transform: rotate(45deg);
}
.c-hamburger--htx.is-active span::after {
    bottom: 0;
    transform: rotate(-45deg);
}
.c-hamburger--htx.is-active span::before, .c-hamburger--htx.is-active span::after {
    transition-delay: 0s, 0.3s;
}
/** * Style 3 * * Hamburger to left-arrow (htla). Hamburger menu transforms to a left-pointing * arrow. Usually indicates an off canvas menu sliding in from left that * will be close on re-click of the icon. */
.c-hamburger--htla {
    background-color: #fff;
}
.c-hamburger--htla span {
    transition: transform 0.3s;
}
.c-hamburger--htla span::before {
    transform-origin: top right;
    transition: transform 0.3s, width 0.3s, top 0.3s;
}
.c-hamburger--htla span::after {
    transform-origin: bottom right;
    transition: transform 0.3s, width 0.3s, bottom 0.3s;
}
/* active state, i.e. menu open */
.c-hamburger--htla.is-active {
    background-color: #fff;
}
.c-hamburger--htla.is-active span {
    transform: rotate(180deg);
}
.c-hamburger--htla.is-active span::before, .c-hamburger--htla.is-active span::after {
    width: 50%;
}
.c-hamburger--htla.is-active span::before {
    top: 0;
    transform: translateX(15px) translateY(1px) rotate(45deg);
}
.c-hamburger--htla.is-active span::after {
    bottom: 0;
    transform: translateX(15px) translateY(-1px) rotate(-45deg);
}
/** * Style 4 * * Hamburger to right-arrow (htra). Hamburger menu transforms to a * right-pointing arrow. Usually indicates an off canvas menu sliding in from * right that will be close on re-click of the icon. */
.c-hamburger--htra {
    background-color: #ff9650;
}
.c-hamburger--htra span {
    transition: transform 0.3s;
}
.c-hamburger--htra span::before {
    transform-origin: top left;
    transition: transform 0.3s, width 0.3s, top 0.3s;
}
.c-hamburger--htra span::after {
    transform-origin: bottom left;
    transition: transform 0.3s, width 0.3s, bottom 0.3s;
}
/* active state, i.e. menu open */
.c-hamburger--htra.is-active {
    background-color: #e95d00;
}
.c-hamburger--htra.is-active span {
    transform: rotate(180deg);
}
.c-hamburger--htra.is-active span::before, .c-hamburger--htra.is-active span::after {
    width: 50%;
}
.c-hamburger--htra.is-active span::before {
    top: 0;
    transform: translateX(-2px) translateY(1px) rotate(-45deg);
}
.c-hamburger--htra.is-active span::after {
    bottom: 0;
    transform: translateX(-2px) translateY(-1px) rotate(45deg);
}
