.masthead-title a img {
  margin: 0 auto;
  height: 100px;
}

.masthead {
  border: none;
}

.social-links {
  margin: 10px auto;
  display: table;
}
.social-links a {
  border-right: solid 1px #fff;
  padding: 0 10px;
  margin: 0 auto;
}

.social-links a:last-child {
  border: none;
}

.referrer-link {
  font-size: 18px;
  padding-left: 5px;
}